:root {
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  position: relative;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 { font-weight: normal; display: inline-block; margin: 0; }

.social-logo {
  display: inline;
  letter-spacing: 0.1rem;
  font-size: 2.8rem;
  padding: 10px;
}

.container {
  margin: auto;
  width: 80%;
}

.gradient-text {
  background: linear-gradient(75deg,#42B7F2, #7622D5);
  color: transparent;
  -webkit-background-clip: text;
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.center {
  text-align: center;
}

.big-text {
  font-weight: bold;
  font-size: 4.25rem;
}

.button-primary {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  font-variant: italic;
  padding: 0.75em 1.5em;
  border-radius: 50px;
  outline: none;
  border: none;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#ff00dd)), to(var(#7622D5));
  background: linear-gradient(to right, #7622D5, #ff00dd);
}

.button-secondary {
  display: inline-block;
  font-size: 18px;
  color: #000;
  font-weight: bold;
  font-variant: italic;
  padding: 0.75em 1.5em;
  border-radius: 50px;
  outline: none;
  border: 0.25px solid #161616;
  cursor: pointer;
  background: #fff;
  margin: 15px;
}

em {
  font-style: normal;
}

.link {
  color: #1092d3;
}

.mt-1 {
  margin-top: 10px
}
.mt-2 {
  margin-top: 20px
}
.mt-3 {
  margin-top: 30px
}
.mt-4 {
  margin-top: 40px
}
.mt-5 {
  margin-top: 50px
}
.mt-10 {
  margin-top: 100px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 50px;
}

@media (max-width: 800px) {
  .box {
    row-gap: 50px;
    flex-direction: column;
  }
}