.spacer {
    height: 120px;
    top: 0;
}

.menu {
    border-bottom: 1px solid #aeaeae;
    background: #fff;
    top: 0;
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    letter-spacing: -1px;
    font-size: 1.5em;
}

.nav {
    background: #fff;
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav li {
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: #161616;
}

.burger {
    font-size: 1.5em;
    display: none;
    cursor: pointer;
}

.burger {
    display: block;
}

.nav {
    z-index: 1;
    display: flex;
    position: fixed;
    right: -100%;
    margin: 0;
    top: 80px; 
    width: calc(80px + 20vw);
    height: calc(100vh - 70px);
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    transition: right 0.5s ease-in-out;
}

.link {
    font-size: 1.5em;
    text-align: center;
}

.active {
    right: 0;
}
