@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Poppins.ttf") format("truetype");
  font-display: swap;
}

:root {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  position: sticky;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

.gradient-text {
  background: linear-gradient(75deg, #42b7f2, #7622d5);
  color: transparent;
  -webkit-background-clip: text;
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.icon-social {
  color: #161616;
}

.icon-social:hover {
  transition: color 300ms;
  color: #747474;
}

.parent-div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}