.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.navbar-item {
    margin: 0.4em;
    width: 100%;
  }

.navbar-link {
    color: red;
    text-decoration: none;
    display: flex;
    font-weight: 400;
    align-items: center;
}
  
.home-link:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
}
  
.navbar-link {
    justify-content: center;
    width: 100%;
    padding: 0.4em 0.8em;
    border-radius: 5px;
}
  
.navbar-link:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
    background-color: var(--navbar-bg-contrast);
}
  